.navbar {
    width:100%;
    position:absolute;
    top:0;
    left:0;
    color:#fff;
    padding:35px 25px 10px 20px;
    z-index: 100;
}

.container {
    width:90%;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.left {
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
.right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navList {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    position: relative;
    margin-right:30px;
}
.dropdown-menu {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    position:absolute;
    background: #fff;
    color:#000;
    top:30px;
}
.listItem {
    font-size: .8em;
    /* font-weight: 700; */
    padding: 10px 5px;
    cursor: pointer;
    position: relative;
}
.listItem ul {
    list-style: none;
    position: absolute;
    top: 37px;
    background: #fff;
    color: #000;
    min-width: 120px;
    text-align: center;
    border-radius: 5px;
}
.listItem  img {
    width:10px;
    height:10px;
    position:absolute;
    bottom: 7px;
    right:-15px;
    margin:5px;
}
.listItem ul li {
    text-align: center;
    padding: 5px;
    color: #000;
}
.listItem a {
    text-decoration: none;
    /* color: #fff; */
    display: inline-block;
    width: 100%;
    padding: 5px 10px;
    border-radius: 5px;
}
.listItem a:hover {
    background:#ededed;
}
.SubmitBtn {
    color: #fff;
    text-align: center;
    letter-spacing: .08em;
    background-color: #720083;
    border-radius: 22.5px;
    justify-content: center;
    line-height: 1;
    transition: box-shadow .3s;
    font-size: 14px;
    margin-left: 30px;
    border: 0;
    padding: 10px 15px;
}
.SubmitBtn:hover {
	box-shadow: 0 0 7px 2px rgba(114, 0, 131, .7);
}
a {
    text-decoration: none;
    color:#fff;
    display: block;
}

.dropDownItem {
    list-style-type: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 40px;
    background: #fff;
    padding: 10px 0px;
}
.Dropitems{
    font-size: .8em;
    padding: 10px 30px;
}

.Dropitems a {
    text-decoration: none;
    display: inline-block;
    font-weight: 700;
    color: #000;
}
/* .navList {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    
}
.listItem {
    font-size: .8em;
    padding: 10px 5px;
}
.listItem a {
    text-decoration: none;
    color:#fff;
    display: inline-block;
    font-weight: 700;
} */
/* .icon {
    color:#fff;
}
.right > div .options {
    position: absolute;
    top: 70px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    visibility: hidden;
}
.options span {
    margin-bottom: 10px;
}
.options span:last-child {
    margin-bottom: 0;
}
.pages  span {
    font-size:13px;
}

.right > span {
    font-size:13px;
    padding:5px 22px;
}

.right > div {
    padding:5px 15px;
} */
